header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading{
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}